.recipe-details {
  display: flex;
  flex-flow: column nowrap;
}

.img-det-section {
  height: 200px;
  position: relative;
  width: 100%;
}

.recipe-pic-details {
  filter: brightness(0.8);
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.waved-bar {
  background-image: url('../images/RecipeDetailsBar.png');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%
}

.title-and-buttons {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 120px;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 10px;
  position: relative;
}

.title-and-category {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.recipe-det-name {
  font-size: 30px;
  font-weight: 700;
}

.det-buttons {
  display: flex;
  min-width: 130px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.home-button {
  background-image: url('../images/Home.png');
  cursor: pointer;
  height: 30px;
  width: 35px;
}

.det-buttons > button {
  background-color: rgba(240, 240, 240, 0);
  border: 0;
}

.recipe-det-alcohol {
  padding: 0 10px;
}

ul {
  columns: 2;
  font-size: 14px;
  list-style-type: none;
  margin: 10px 0;
  padding: 0 10px;
  text-align: justify;
}

.det-instructions {
  padding: 0 10px;
  text-align: justify;
}

.det-video {
  margin: 10px auto;
  min-height: 200px;
}

.det-recommends {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  margin-bottom: 60px;
  padding: 20px 10px 0;
}

.det-recommend-title {
  font-size: 20px;
}

.det-recommends-prod {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
}

.recipe-pic-recommend {
  border-radius: 6px;
  height: 100px;
  object-fit: cover;
  width: 165px;
}

.start-recipe-btn {
  align-items: center;
  background-color: rgba(255, 99, 26, 0.7);
  backdrop-filter: blur(5px);
  border: 0;
  bottom: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
